$icomoon-font-family: "my-cv-replica" !default;
$icomoon-font-path: "assets/font" !default;


$icon__paw: "\e913";
$icon__gamepad: "\e90f";
$icon__headphones: "\e914";
$icon__gift: "\e910";
$icon__travel: "\e911";
$icon__code: "\e912";
$icon__circle-down: "\e90c";
$icon__circle-up: "\e90e";
$icon__cancel: "\e90d";
$icon__menu: "\e90b";
$icon__download: "\e90a";
$icon__github: "\e905";
$icon__linkedin: "\e907";
$icon__instagram: "\e908";
$icon__facebook: "\e909";
$icon__contact: "\e906";
$icon__works: "\e900";
$icon__skills: "\e901";
$icon__resume: "\e902";
$icon__about-me: "\e903";
$icon__home: "\e904";

